*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
#logo{
    max-width: 50px;
}

.container{
    display: flex;
    min-height: 100vh;
    align-items: center;
}
.about{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.doe{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.donate-cards{
    display: flex;
    flex-direction: row;
}
.contact{
    display: flex;
    flex-direction: column;}
    .contact-cont{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .faq{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
div h1,div h3{
    color: #124D2C;
}
div h2{
    color: #91120e;
    font-size: 1.5em;
}
p{
    font-size:1rem;
}
.accordion{
    width: 100%;
}
